@import "../abstracts/variables.scss";
footer {
    background-color: $secondary-color;
    color: #fff;
    padding: $padding-medium;
    text-align: center;

    a {
        color: lighten($primary-color, 30%);
        margin: 0 $margin-medium;

        &:hover {
            color: lighten($primary-color, 50%);
        }
    }
}