.about {
    padding: 2rem;
    background-color: lighten($background-color, 5%);

    h2 {
        font-size: 2rem;
        margin-bottom: $margin-medium;
    }

    p {
        margin-bottom: $margin-medium;
        color: $secondary-color;
    }
}