.skills {
    padding: 2rem;
    background-color: lighten($background-color, 5%);

    h2 {
        font-size: 2rem;
        margin-bottom: $margin-medium;
    }

    ul {
        list-style-type: none;
    }

    li {
        padding: 0.5rem 0;
        font-weight: bold;
    }
}