// styles/App.scss
/* In your main CSS file, e.g., App.css */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
// Abstracts
@import './abstracts/variables';
@import './abstracts/mixins';
@import './abstracts/animations';

// Base styles
@import './base/reset';
@import './base/typography';

// Layouts
@import './layouts/grid';
@import './layouts/header'; // Import des styles pour le Header
@import './layouts/main';
@import './layouts/footer';

// Components
@import './components/navbar';
@import './components/footer';
@import './components/button';

// Pages
@import './pages/home';
@import './pages/about';
@import './pages/project';
@import './pages/skills';
@import './pages/contact';

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // Garantit que l'app occupe toute la hauteur de l'écran
}

.content {
    flex: 1; // Permet au contenu principal d'occuper l'espace restant
    padding: 20px; // Ajoute de l'espacement
}

.footer {
    background-color: $secondary-color; // Couleur définie dans _variables.scss
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    font-size: 0.9rem;
}